body {
    box-sizing: border-box;
    counter-reset: article;
}


/* Configuracions generals, compartides per totes les resolucions
*/


/* Imatge Ausiàs a sota del menú
    Per no modificar l'html insertem la imatge en el
    pseudoelement after
    */
nav::after {
    content: " ";
    /* Per veure la imatge de l'after hem de modificar el display per aconseguir "espai vertical"
        */
    display: block;
    background: transparent center no-repeat url(./img/cara.png);
    width: 100%;
    background-size: contain;
    /*La mida vertical la provem a ull, en funció de la mida de la finestra*/
    height: 30vw;
}

/* Numerem els articles amb un contador*/
h1::before {
    counter-increment: article;
    content: counter(article) "- ";
}

/* Millores estètiques diverses */
body {
    margin: 15px;
}

/* Centrem el menú */
nav {
    width: 80%;
    margin: auto;
    text-align: center;
}

nav li {
    list-style-type: none;
    line-height: 1.4rem; /* Els dits grossos han de poder encertar-la */
}

nav ol {
    padding: 0;
}

/* 
Mobile first.
Tot el que no sigui per dispositiu petit ha d'anar dins de la media query
*/

@media (min-width: 600px) {

    /* En dektop la llista ´té més espai */
    nav {
        width: 100%;
        text-align: left;
    }

    /*
    jugant amb position podem deixar el menú fix a l'esquerra ocupant
    un 20%, i tots els articles, enganxats a la dreta, ocpant un 80% 
    */
    nav {
        background-color: rgb(212, 212, 243);
        left: 0;
        top: 0;
        position: fixed;
        width: 20%;
    }

    article {
        /* Quan hem numerat els articles hem vist que al jugar amb 
        el display per l'etiqueta article, els haviem "desenganxat" tots
        i per tant, només vèiem l'últim tota la resta d'articles estaven a sota
        La solució és més senzilla... posem el menú a l'esquerra amb 
        position: fixed, i després als articles els hi posem un marge a l'esquerra
        del 20% */
        width: 80%;
        right: 0;
        margin-left: 21%;
    }

    /*En la versió desktop volem la imatge sencera*/
    nav::after {
        background: transparent center no-repeat url(./img/ausiasGran.jpg);
        background-size: contain;
        /*La mida vertical la provem a ull, en funció de la mida de la finestra*/
        height: 30vw;
    }


    /* Efecte de vibració */
    @keyframes vibracio {
        from {
            transform: rotate(0);
        }

        25% {
            transform: rotate(5deg);
        }

        75% {
            transform: rotate(-5deg);
        }

        to {
            transform: rotate(0);
        }
    }

    /* Classe que es posa i es treu per fer la vibracio */
    .marcat {
        animation-name: vibracio;
        animation-duration: .2s;
        animation-iteration-count: 3;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

}